<?xml version="1.0"?>

<model>
  <name>Test_room_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Pascal Li Poo Kim</name>
    <email>paswei98@gmail.com</email>
  </author>

  <description>
    The first test room using Sweet Home 3D.
  </description>
</model>
