<?xml version="1.0"?>

<launch>
<include file="$(find husky_gazebo)/launch/husky_prelim_tracking.launch" />

<include file="$(find husky_gazebo)/launch/husky_teleop_3FAS.launch" />

<!--<include file="$(find rtabmap_helper)/launch/mapdata_to_pointcloud.launch" />-->

<!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />-->

<!--<node pkg="rosbag" type="record" name="husky_prelim_tracking_3FAS"
       args="record -o $(find custom_husky_gazebo)/bags/husky_prelim_tracking_3FAS /ground_truth/state"/>-->

<node pkg="commands_to_unity" name="set_model_state_prelim_tracking" 
    type="set_model_state_prelim_tracking.py" output="screen"/>

</launch>
